{% set user_agent =  ''|browser %}
{% set lang = app.session.get('lang') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Demo{% endblock %}</title>
        {% block stylesheets %}
            <!--[if gte IE 9]>
                <style type="text/css"> .gradient { filter: none; } </style>
            <![endif]-->
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap-theme.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap/bootstrap-glyphicons.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('public/images/favicon.ico') }}" />
    </head>
    <body>
        <div id="wrap">
            <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div id="footer">
    </div>

    {% block javascripts %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ asset('public/js/bootstrap/html5shiv.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap/respond.min.js') }}"></script>
        <![endif]-->
        <script src="{{ asset('public/js/jquery-2.1.3.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap/bootstrap.js') }}"></script>
    {% endblock %}
</body>
</html>